:root {
  --knob-outer: hsl(0, 1%, 13%);
  --knob-inner: hsl(0, 0%, 46%);
  --makita: hsl(185, 99%, 28%);
  --dewalt: hsl(43, 99%, 54%);
  --milwaukee: hsl(352, 100%, 43%);
}

/*
div {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*/


.color_theme {
  background-color: var(--makita);
}
.color_theme_light {
  background-color: var(--makita);
}

.stack-container {
  position: relative;
}

.stack-container > div {
  position: absolute;
  top: 0;
  left: 0;
}

body,
html {
  height: 100%;
  width: 100%;
  margin: 0;
  background-color: #4a4a4a;
  display: flex;
  justify-content: center;
}

#mainframe {
  width: 100%;
  height: 100%;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

#top-content {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: start;
  padding: 20px;
  width: 100%;
  height: 100%;
}

.menu_item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 0px;
  height: 45px;
  margin: 0px;
  border-radius: 5%;
  transition: width 0.5s ease;
}

.menu_item.open {
  margin: 0px 2px;
  width: 45px;
  transition: all 0.5s ease;
}

.menu_item img {
  max-width: 90%;
  max-height: 90%;
  height: auto;
  width: auto;
}
/* menu stuff */

.menu-toggle {
  height: 45px;
  width: 45px;
  margin: 0px 2px;
  padding: 2px;
}

.menu-toggle-bar {
  width: 43px;
  height: 4px;
  border-radius: 4px;
  background-color: rgb(229, 229, 229);
  transition: all 0.5s ease;

  &.menu-toggle-bar--top {
    margin-bottom: 10px;
  }
  &.menu-toggle-bar--bottom {
    margin-top: 10px;
  }

  .nav-open & {
    &.menu-toggle-bar--top {
      transform: translate(0, 18px) rotate(45deg);
      margin-bottom: 8px;
    }
    &.menu-toggle-bar--middle {
      opacity: 0;
    }
    &.menu-toggle-bar--bottom {
      transform: translate(0, -4px) rotate(-45deg);
      margin-top: 8px;
    }
  }
}

/*end menu stuff */

.topbottomborder {
  background-size: cover;
  height: 100px;
  overflow: hidden;
  width: 100%;
}

.topbottomborder img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.knob_container {
  margin: 30px 30px 0px 30px;
  display: flex;
}

#center_box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  flex-grow: 1;
}

#control_knob {
  width: 205px;
  height: 205px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--knob-outer);
  font-size: 24px;
  position: relative;
  cursor: pointer;
}

#line {
  width: 10%;
  height: 30%;
  position: absolute;
  top: 0;
  border-radius: 10px;
  background-color: var(--knob-outer);
  left: 45%;
}

#inner_circle {
  width: 181px;
  height: 181px;
  background-color: var(--knob-inner);
  border-radius: 50%;
}

#slide-container {
  background-size: cover;
  height: 80px;
  overflow: hidden;
  width: 100%;
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#slide-container img {
  width: 50%;
  height: 100%;
  margin: 0px;
  object-fit: contain;
}

.tick_container {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  margin: -50px;
  padding: 0px 50px;
  width: 100%;
  height: 100%;
}

.tick_box {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  margin: -50px;
  padding: 0px 50px 100px 50px;
  width: 100%;
  height: 100%;
}

.tick_line {
  width: 4px;
  height: 40px;
  background-color: #000000;
  border-radius: 10px;
}

#icon_container {
  width: 300px;
  height: 200px;
  margin: -100px -100px;
  padding: 50px 50px 0px 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
}

#icon_container img {
  width: 40px;
  height: 40px;
}

.batt_row_container {
  height: 50%;
  width: 100%;
  display: flex;
  flex-direction: row;
}
.battery {
  margin: 10px;
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.battery_top {
  width: 40%;
  height: 5%;
  border-style: solid;
  border-color: black;
  border-width: 3px 3px 0px 3px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.battery_bottom {
  width: 100%;
  height: 95%;
  border: 3px solid black;
  border-radius: 10px;
}

.battery_title {
  font-family: "Helvetica", "Arial", sans-serif;
  font-weight: 600;
  font-size: 12pt;
  width: 130px;
  padding: 10px;
  color: aliceblue;
  background: #000000;
  text-align: center;
}

:root {
  --chamfer-width: 12px;
}

.chamfer {
  position: relative;
  clip-path: polygon(
    var(--chamfer-width) 0,
    calc(100% - var(--chamfer-width)) 0,
    100% var(--chamfer-width),
    100% calc(100% - var(--chamfer-width)),
    calc(100% - var(--chamfer-width)) 100%,
    var(--chamfer-width) 100%,
    0 calc(100% - var(--chamfer-width)),
    0 var(--chamfer-width)
  );
}

